<div>
  <!-- keyframe ini hanya untuk loading indicator, saat pidah ke SPA, ini tidak akan di tarik lagi-->
  <style>
    @keyframes firstloading {
      from {width: 0;}
      to {width: 60%;}
    }

    #spa-loading-indicator {
      animation-name: firstloading;
      animation-duration: 3s;
    }
  </style>

  <!-- loading SPA utama yang akan di tarik dan dipanggil ke SPA untuk finishing -->
  <div id='spa-loading-content'>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

      .spa-text {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 60pt;
        margin: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      .spa-loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }

      #spa-loading-container {
        opacity: 1;
        transition: opacity 1.2s ease-in-out;
      }

      #spa-loading-indicator {
        width: 60%;
        z-index: 1001;
        transition: width 2s;
      }

      @media only screen and (max-width: 1200px) {
        .spa-text {
          font-size: 50pt;
        }
      }
      @media only screen and (max-width: 768px) {
        .spa-text {
          font-size: 30pt;
        }
      }
      @media only screen and (max-width: 576px) {
        .spa-text {
          font-size: 20pt;
        }
      }

      .system-bg-primary {
        background-color: #1565C0 !important;
      }

      .system-bg-primary-darked {
        background-color: #003180 !important;
      }

      .system-bg-white {
        background-color: white !important;
      }

      .system-text-white {
        color: white;
      }
    </style>

    <div id='spa-loading-container' >
      <div id='spa-loading-background' class='spa-loading system-bg-primary-darked' />
      <div id='spa-loading-indicator' class='spa-loading system-bg-primary' />

      <span id='spa-loading-text' class='spa-text system-text-white'>
        Don't Make Same <br />
        Make Better.
      </span>
    </div>
  </div>
</div>
